@{
    ViewBag.Title = "Contact";
}

<p>Feel free to ask questions on twitter <a href="http://www.twitter.com/TweeterLightApp">@@TweeterLightApp</a>.  You 
can also email <a href="mailto:support@tweeterlight.com">support@tweeterlight.com</a>.</p>