@{
    ViewBag.Title = "Index";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="container">
    <h1>TweeterLight</h1>
    <p>TweeterLight is a simple, lightweight Twitter client for Windows Phone and Windows 8.</p>
    <h2>Windows 8 Features</h2>
    <ul>
        <li>Windows 8 Sharing support (target and source)</li>
        <li>Fetches saved searches from twitter.com</li>
        <li>Displays unread tweets with a different background color</li>
        <li>Background updating</li>
        <li>Live tile support</li>
        <li>Lock screen support</li>
        <li>Configurable toast notification support</li>
        <li>Snapped View support</li>
        <li>Image preview</li>
        <li>TwitPic upload</li>
        <li>TweetMarker integration</li>
        <li>Search for tweets and users</li>
        <li>Favorite/Unfavorite tweets</li>
        <li>Follow/Unfollow users</li>
        <li>Block/Report users</li>
    </ul>

    <h2>Windows Phone Features</h2>
    <ul>
        <li>Fetches saved searches from twitter.com</li>
        <li>Displays unread tweets with a different background color</li>
        <li>Configurable toast notification support</li>
        <li>TwitPic upload</li>
        <li>TweetMarker integration</li>
        <li>Search for tweets and users</li>
        <li>Favorite/Unfavorite tweets</li>
        <li>Follow/Unfollow users</li>
        <li>Block/Report users</li>
        <li>Geolocation support</li>
        <li>Trend support</li>
    </ul>
</div>
